<div class="grid grid-cols-1 sm:grid-cols-4 h-full">
    <div class="sm:col-start-2 col-span-2 flex flex-col items-center justify-center gap-fluid-1">
        <img style="width: calc(10px + 50vmin);" class="animate-light mx-auto" src="./Images/logo1-1000px.png">
        <!-- if guest -->
        <!-- <label class="font-bold text-y500 text-fluid-24 drop-shadow text-center">Who picked who?</label> -->
        <!-- if logged in -->
        <!-- <label class="font-bold text-y500 text-fluid-24 drop-shadow text-center">Hello world!</label> -->
        <div class="w-[80%] flex bg-white/80 text-grey rounded-[5px] text-fluid-24 py-fluid-8 px-fluid-12 gap-fluid-8">
            <input [(ngModel)]="groupCode" class="truncate bg-[unset] flex-1"
                placeholder="enter your group's code here">
            <button class="text-g500 font-bold bg-light rounded-full px-fluid-8 py-fluid-4 hover:bg-light/80" (click)="enterGroup()">Enter</button>
        </div>
        <div class="flex flex-col gap-fluid-8 mt-fluid-20">
            <button class="text-light text-fluid-16 font-bold" [routerLink]="`/group/new`">Create a Group</button>
        </div>
    </div>
</div>
