<div class="flex flex-wrap gap-fluid-8 items-center justify-between p-fluid-8">
    <img class="h-fluid-40 sm:inline hidden cursor-pointer" src="./Images/logo2-1x4.png" routerLink="/"/>
    <img class="h-fluid-40 sm:hidden inline cursor-pointer" src="./Images/logo3-1x5.png" routerLink="/"/>
    <div class="flex flex-wrap gap-fluid-8">
        <button class="text-b500 text-fluid-16 font-bold bg-light rounded-full px-fluid-8 py-fluid-4 hover:bg-light/80" routerLink="/help">Help</button>
        <!-- <button class="text-b500 text-fluid-16 font-bold bg-light rounded-full px-fluid-8 py-fluid-4 hover:bg-light/80" routerLink="/group">Groups</button> -->
        <!-- <button class="text-r500 text-fluid-16 font-bold bg-light rounded-full px-fluid-8 py-fluid-4 hover:bg-light/80" routerLink="/login">Login</button> -->
        <!-- <button class="text-r500 text-fluid-16 font-bold bg-light rounded-full px-fluid-8 py-fluid-4 hover:bg-light/80">Logout</button>     -->
    </div>
</div>
