.light {
    animation-name: light;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.flicker:hover {
    animation-name: flicker;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes light {
    0% {
        transform: rotate(-10deg);
        filter:
            drop-shadow(1px 2px 2px rgb(255, 255, 0))
            drop-shadow(2px -2px 2px rgb(208, 255, 0))
            drop-shadow(-1px 1px 2px rgb(0, 242, 255))
    }
    50% {
        transform: rotate(10deg);
        filter:
            drop-shadow(0px 2px 1px rgba(255, 255, 0, .5))
            drop-shadow(1px -1px 2px rgba(255, 255, 255, .25))
            drop-shadow(0px 2px 1px rgba(0, 242, 255, .5))
    }
    100% {
        transform: rotate(-10deg);
        filter:
            drop-shadow(1px 2px 2px rgb(255, 255, 0))
            drop-shadow(2px -2px 2px rgb(208, 255, 0))
            drop-shadow(-1px 1px 2px rgb(0, 242, 255))
    
    }
}

@keyframes flicker {
    0% {
        filter:
            drop-shadow(0px 0px 0px rgb(255, 255, 255, .5))
    }
    50% {
        filter:
            drop-shadow(1px -1px 0px rgba(255, 255, 255, .25))
    }
    100% {
        filter:
            drop-shadow(0px 0px 0px rgb(255, 255, 255, .5))    
    }
}