<div class="flex flex-col" style="touch-action: manipulation;">
  @if (label) {
    <label class="font-bold text-y500 text-fluid-18px drop-shadow">{{label}}</label>
  }

  <ng-container *ngTemplateOutlet="type === 'password' ? password : standard"></ng-container>
</div>

<ng-template #standard>
  <input class="bg-r400/30 text-light rounded-[5px] text-fluid-18px p-fluid-8"
    [placeholder]="placeholder"
    [formControl]="control">
  </ng-template>

  <!-- password -->
  <ng-template #password>
    <div class="flex items-center p-fluid-8 bg-r400/30 text-light rounded-[5px]">
      <input
        class="flex-1 text-fluid-18px bg-[unset]"
        [type]="isToggleOn ? 'text' : 'password'"
        [placeholder]="placeholder"
        [formControl]="control">
        <button class="h-fluid-25 w-fluid-25" (click)="onToggle()">
          <img [ngClass]="{'light': isToggleOn, 'flicker': !isToggleOn}" src="./icons/ornament.png">
        </button>
      </div>
    </ng-template>